<div class="container">
  <form>
    <h1>Register </h1>

      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="username" name="username" placeholder="Enter Username" id="username">
      </div>
    
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="password" name="password" placeholder="Enter Password" id="password">
      </div>
  
      <div class="form-group">
        <button class="btn btn-success" on-click="dis()">Submit</button>
      </div>
  </form>
</div>

